In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.rand(7, 6), columns=list('abcdef'))

In [3]:
df

          a         b         c         d         e         f
0  0.098250  0.226167  0.365626  0.906162  0.224052  0.847546
1  0.957443  0.058971  0.622586  0.952835  0.241494  0.092930
2  0.524501  0.475641  0.782111  0.191920  0.902345  0.388506
3  0.769827  0.945731  0.837680  0.169358  0.966708  0.119558
4  0.505638  0.515634  0.492517  0.533210  0.520326  0.993781
5  0.137022  0.186979  0.830193  0.345411  0.864171  0.449214
6  0.274480  0.156880  0.655505  0.063488  0.735741  0.500395

In [23]:
df_split = np.array_split(df,3)
df_split

[          a         b         c         d         e         f
 0  0.098250  0.226167  0.365626  0.906162  0.224052  0.847546
 1  0.957443  0.058971  0.622586  0.952835  0.241494  0.092930
 2  0.524501  0.475641  0.782111  0.191920  0.902345  0.388506,
           a         b         c         d         e         f
 3  0.769827  0.945731  0.837680  0.169358  0.966708  0.119558
 4  0.505638  0.515634  0.492517  0.533210  0.520326  0.993781,
           a         b         c         d         e         f
 5  0.137022  0.186979  0.830193  0.345411  0.864171  0.449214
 6  0.274480  0.156880  0.655505  0.063488  0.735741  0.500395]

In [24]:
df_split_copy = list(df_split)
df_split_copy.pop(0)
df3 = pd.DataFrame()
# df2 = pd.DataFrame.append(df_split[0],df_split[1])
for i in df_split_copy:
    df3 = df3.append(i)
df3

          a         b         c         d         e         f
3  0.769827  0.945731  0.837680  0.169358  0.966708  0.119558
4  0.505638  0.515634  0.492517  0.533210  0.520326  0.993781
5  0.137022  0.186979  0.830193  0.345411  0.864171  0.449214
6  0.274480  0.156880  0.655505  0.063488  0.735741  0.500395

In [25]:
df_split

[          a         b         c         d         e         f
 0  0.098250  0.226167  0.365626  0.906162  0.224052  0.847546
 1  0.957443  0.058971  0.622586  0.952835  0.241494  0.092930
 2  0.524501  0.475641  0.782111  0.191920  0.902345  0.388506,
           a         b         c         d         e         f
 3  0.769827  0.945731  0.837680  0.169358  0.966708  0.119558
 4  0.505638  0.515634  0.492517  0.533210  0.520326  0.993781,
           a         b         c         d         e         f
 5  0.137022  0.186979  0.830193  0.345411  0.864171  0.449214
 6  0.274480  0.156880  0.655505  0.063488  0.735741  0.500395]

In [26]:
seri = df['f']
seri

0    0.847546
1    0.092930
2    0.388506
3    0.119558
4    0.993781
5    0.449214
6    0.500395
Name: f, dtype: float64